<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace=".community.dao.CategoryDAO">

	<!-- 카테고리 -->

	<!-- 카테고리 추가 -->
	<insert id="insertCategory">
		insert into category(ca_num,ca_name)
		values(#{category.ca_num},#{category.ca_name}))
	</insert>
	
	<!-- 카테고리 수정 -->
	<update id="updateCategory">
		update category set ca_name = #{category.ca_name}
		where ca_num = #{category.ca_num}
	</update>

	<!-- 카테고리 삭제 -->
	<delete id="deleteCategory">
		delete from category where ca_num = #{ca_num}
	</delete>

	<!-- 카테고리 조회 -->
	<select id="selectCategoryList"
		resultType="community.model.vo.CategoryVO">
		select * from category
	</select>





</mapper>