<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace=".community.dao.CommunityDAO">
	
	<!-- 커뮤니티 -->
	<insert id="insertCommunity">
		insert into community values(#{community.cm_num},#{community.cm_name},now())
  	</insert>
  	<select id = "selectCommunityList" resultType="community.model.vo.CommunityVO">
  		select * from community
  	</select>
  	
  	<!-- 사용자 -->
  	<insert id="insertMember">
  		insert into member values(#{member.me_id},#{member.me_name},
  		#{member.me_pw} ,#{member.email},#{member.adress},#{member.phoneNum} now())
  	</insert>
  	<select id="selectMemberList" resultType="community.model.vo.MemberVO">
  		select * from member
  	</select>
  	
  	<!-- 게시판 -->
  	<insert id="insertBoard">
		insert into board values(#{board.bo_num},#{board.bo_name},now())
  	</insert>
  	<select id = "selectBoardList" resultType="community.model.vo.BoardVO">
  		select * from board
  	</select>
  	
  	<!-- 게시글 -->
  	<insert id="insertPost">
		insert into post values(#{post.po_num},#{post.po_title},#{post.po_content},now())
  	</insert>
  	<select id = "selectPostList" resultType="community.model.vo.PostVO">
  		select * from post
  	</select>
  	
  	<!-- 댓글 -->
  	<insert id="insertComment">
		insert into comment values(#{comment.co_num},#{comment.co_content},now())
  	</insert>
  	<select id = "selectCommentList" resultType="community.model.vo.CommentVO">
  		select * from comment
  	</select>
  	
	
</mapper>