<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="community.dao.CommentDAO">

	<select id="selectBoardList" resultType="community.model.vo.BoardVO">
		select * from board
	</select>

	<!-- 댓글 추가 -->
	<insert id="insertComment">
		insert into comment(co_po_num,  co_me_id, co_content)
		values(#{com.co_po_num}, #{com.co_me_id}, #{com.co_content});
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateComment">
		UPDATE comment 
		SET 
		    co_content = #{com.co_content}
		WHERE
		    co_num = #{com.co_num} AND
		    co_me_id = #{con.co_me_id};
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment">
		DELETE FROM comment 
		WHERE
		    co_po_num = #{com.co_po_num} AND
		    co_num = #{com.co_num} AND
		    co_me_id = #{con.co_me_id};
	</delete>
	
	<!-- 댓글 조회 -->
	<select id="selectCommentList" resultType="community.model.vo.Comment">
		SELECT 
		    *
		FROM
		    comment
		WHERE
		    co_po_num = #{com.co_po_num}
		ORDER BY co_num ASC;
	</select>
</mapper>