<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="community.dao.UserDAO">
	<insert id="insertMember">
		insert into member(me_id, me_pw, me_email, me_address, me_phoneNum, me_name, me_ms_state)
		values(#{member.me_id},#{member.me_pw},#{member.me_email},#{member.me_address},#{member.me_phoneNum},#{member.me_name},#{member.me_ms_state})
	</insert>
	<select id="searchId" resultType="community.model.vo.Member">
		select * from member where me_id = #{me_id}
	</select>
	<select id="selectRequestMemberList" resultType="community.model.vo.Member">
		select * from member where me_ms_state = #{me_ms_state}
	</select>
	<update id="updateAllRequestMember">
		update member set me_ms_state = "회원" where me_ms_state = "가입요청"
	</update>
	<update id="updateRequestMember">
		update member set me_ms_state = "회원" where me_id = #{me_id}
	</update>
</mapper>