<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="community.dao.UserDAO">
	<insert id="insertMember">
		insert into member(me_id, me_pw, me_email, me_address, me_phoneNum, me_name, me_ms_state)
		values(#{member.me_id},#{member.me_pw},#{member.me_email},#{member.me_address},#{member.me_phoneNum},#{member.me_name},#{member.me_ms_state})
	</insert>
	<select id="searchId" resultType="community.model.vo.Member">
		select * from member where me_id = #{me_id}
	</select>
	<select id="selectMemberList" resultType="community.model.vo.Member">
		select * from member where me_ms_state = #{me_ms_state}
	</select>
	<select id="selectStopMemberList" resultType="community.model.vo.Member">
		select * from member where me_ms_state in(#{me_ms_state1},#{me_ms_state2})
	</select>
	<update id="updateAllRequestMember">
		update member set me_ms_state = "회원" where me_ms_state = "가입요청"
	</update>
	<update id="updateRequestMember">
		update member set me_ms_state = "회원" where me_id = #{me_id}
	</update>
	<update id="updateStopMember">
		update member set me_ms_state = if(me_ms_state = "회원", "이용정지", "회원") where me_id = #{me_id}
	</update>
	<delete id="deleteMember">
		delete from member where me_id = #{me_id}
	</delete>
	<update id="updateMy">
		update member set me_name = #{user.me_name}, me_email = #{user.me_email}, me_phoneNum = #{user.me_phoneNum}, me_address = #{user.me_address} where me_id = #{user.me_id}
	</update>
</mapper>